<!DOCTYPE html>
<html>
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"></link>

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="/css/main.css"></link>

		<!-- Website Font style -->
	    <link rel="stylesheet" href="/css/min.css"></link>
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'></link>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'></link>
		<title>Universal Rewards</title>
	<script src="/js/angular.min.js"></script>
		<script>
			angular.module("myapp",[]);
			.controller('ExampleController', ['$scope', function($scope) {
			      $scope.submit = function() {
			      };
			    }]);
		</script>
			<style>
						
			span{
				color:red;
				}
				ul{
				list-style-type:none;
				margin:0;
				padding:0;
				overflow:hidden;
				background-color:#333;
			}
			li{
				float:left;
				}
			li a{
				display:block;
				color:white;
				text-align:center;
				padding:14px 16px;
				text-decoration:none;
				}
				
			li a:hover{
				background-color: grey;
				}
				.Mainfooter
			{
				background-color:#113154;
				bottom:0;
				width:100%
			}
			.Mainfooter .row .footerDiv a
			{
				padding:0 10px;
				color:black;
				text-decoration:none;
				color:white;
			}
			.Mainfooter .row .footerDiv p .desclaimer
			{
				color:white;
				padding: 0 10px;
				
			}
					
		</style>	
	</head>
	<body ng-app="myapp">
<header>
<h1 style="background-color:grey">Transaction Screen</h1>
</header>
		<ul>
					<li><a class="active" href="addpan.html" target="_self">Add Pan</a></li>
					<li><a href="pointsview.html">View Points</a></li>
					<li><a href="transferview.html">View Transfer</a></li>
					<li><a href="Login.html">Logout</a></li>
		</ul>

<section>
<div class="modal-body row">
   <div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title"><strong>Purchase transaction</strong></h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<form class="form-horizontal" ng-submit="submit()" ng-controller="ExampleController" method="post" name="myform">
						
						<div class="form-group">
							<label for="pan" class="cols-sm-2 control-label">Card number</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>								
								<input type="text" class="form-control" name="pan" id="pan" ng-model="pan" placeholder="Enter your card number" required="required" minlength="16" maxlength="16" ngMin="1000000000000000" ngMax="9999999999999999"></input>
								</div>
								    <span ng-show="myform.pan.$error.required">*Mandatory field</span>  
									<span ng-show="myform.pan.$error.minlength">&nbsp;&nbsp;*Card number should be 16 digits</span>  	
							</div>
						</div>

						<div class="form-group">
							<label for="merchid" class="cols-sm-2 control-label">Merchant ID</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="merchid" id="merchid" ng-model="merchid" placeholder="Enter your Merchant ID" required="required" minlength="8" maxlength="8" ngMin="1000000000000000" ngMax="9999999999999999"></input>
								</div>
									<span ng-show="myform.merchid.$error.required">*Mandatory field</span>  
									<span ng-show="myform.merchid.$error.minlength">&nbsp;&nbsp;*Merchant ID must be 16 digits</span>  
							</div>
						</div>
						
						<div class="form-group">
							<label for="billamt" class="cols-sm-2 control-label">Bill Amount</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="billamt" id="billamt" ng-model="billamt"  placeholder="Enter Bill Amount" required="required" ngMin="0" ngMax="100000"></input>
								</div>
								<span ng-show="myform.billamt.$error.required">*Mandatory field</span>  
									<span ng-show="myform.billamt.$error.minlength">&nbsp;&nbsp;*Enter digits only</span>  
							</div>
						</div>
						
						<div class="form-group">
							<label for="amtpaid" class="cols-sm-2 control-label">Amount paid by Card</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="amtpaid" id="amtpaid"  ng-model="amtpaid" placeholder="Enter amount to be paid by cash" required="required" ngMin="0" ngMax="5000"></input>
								</div>
								<span ng-show="myform.amtpaid.$error.required">*Mandatory field</span>  
									<span ng-show="myform.amtpaid.$error.minlength">&nbsp;&nbsp;*Enter digits only</span>  
							</div>
						</div>
                                               
                           <div class="form-group ">
							<input type="submit" id="submit" value="Submit" ng-disabled="myform.$invalid"  class="btn btn-primary btn-lg btn-block login-button"></input>
						</div>
					</form>
			</div>
		</div> 
         </div> 
             <div th:class="${message1}" style="display:block" align="center"> <strong th:text="${message}"/></div>
         </div>
        
</section>
                <footer class="Mainfooter">
			<div class="row">
				<div class="col-md-12 footerDiv">
				<p>
					<a href=" ">FAQ</a>
					<a href=" ">Contact Us</a>
					<a href=" ">Terms nd cond</a>
					<a href=" ">privacy</a>
					<!--<img src="../images/" alt="Discover_image" />-->
				</p>
				<p class="disclaimer">@2017 Discover Bank</p>
				</div>
				
			</div>
		</footer>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
	</body>
</html>